layout python python3

dotenv_if_exists "$HOME/.config/helios/secrets"

export DATABRICKS_TOKEN=$DATABRICKS_TOKEN_EQ
export DATABRICKS_HTTP_PATH=/sql/1.0/warehouses/a2fa80d279dda284
export DATABRICKS_HOST=dbc-3d7d8b5d-bc7b.cloud.databricks.com
